@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  font-family: "Roboto", sans-serif;
}

.hero {
  background-image: url("assets/banner.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  background-image: url("assets/footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
